/examples/ble_central/ble_app_uart_c/settings
/examples/ble_central/ble_app_uart_c/pca10040/s132/iar/settings
/examples/ble_central/ble_app_uart_c/pca10040/s132/iar/_build
/examples/ble_central/ble_app_uart_c_multi_slave/settings
/examples/ble_central/ble_app_uart_c_multi_slave/pca10040/s132/iar/settings
/examples/ble_central/ble_app_uart_c_multi_slave/pca10040/s132/iar/_build
/examples/ble_peripheral/experimental/ble_app_multiperipheral/pca10040/s132/iar/settings
/examples/ble_peripheral/experimental/ble_app_multiperipheral/pca10040/s132/iar/_build
/examples/ble_peripheral/experimental/ble_app_multiperipheral/settings
/examples/ble_peripheral/ble_app_uart_multi_master/settings
/examples/ble_peripheral/ble_app_uart_multi_master/pca10040/s132/iar/settings
/examples/ble_peripheral/ble_app_uart_multi_master/pca10040/s132/iar/_build
/examples/ble_central/ble_app_uart_c_multi_slave/insight_master_multi_slave
/examples/ble_central_and_peripheral/ble_app_uart_master_slave/insight_master_slave_both
/examples/ble_central_and_peripheral/ble_app_uart_master_slave/settings
/examples/ble_central_and_peripheral/ble_app_uart_master_slave/pca10040/s132/iar/settings
/examples/ble_central_and_peripheral/ble_app_uart_master_slave/pca10040/s132/iar/_build
